<ion-content>
  
  <div id="header">
    <h1>ANMLEDEN</h1>
  </div>
  <div id="form"> 
    <form [formGroup]="logintrationForm" (ngSubmit)="submit()">
      <ion-list>
        <ion-item lines='none'>
          <ion-input formControlName="user"  type="text" placeholder="Benutzername oder Email"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.user">
             <ng-container *ngIf="user.hasError(error.type) && (user.dirty || user.touched)">
               <small class="error-message">{{error.message}} </small>
             </ng-container> 
        </div>

        <ion-item lines='none'>
          <ion-input formControlName="password"  type="password" placeholder="PassWord"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.user">
             <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
               <small class="error-message">{{error.message}} </small>
             </ng-container> 
        </div>
        
          <div id="check">
            <ion-checkbox formControlName="check" checked=false > </ion-checkbox>
            <ion-label> Angemeldet bleiben </ion-label>
          </div>
   
          
      </ion-list>
      <div class="center" >
            <ion-button  type="submit">Anmleden</ion-button>
          </div>
    </form>
  </div>

  
</ion-content>